#test {
  width: 200px ;
  margin-left: 35%;
  margin-right: auto ;
  text-align: center;
}

#right {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  border-radius: 90px 0 0 90px;
  float: right;
}

#left {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-radius: 0 90px 90px 0;
}
